.container {
    //width: 960px !important;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 30px;
	color: #64828c;
	background: #eef4fa;
}
a {
	color: $a-color;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
	color: $a-color;
}
.fixed-right-part {
    position: absolute;
    padding: 0 0 0 $fixed-left-part-width;
    height: 100%;
    width: 100%;
    z-index: 100;
}
.fixed-right-part .inner-full-height {
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
.animation {
	@include animation-transition (0.5s);
}