/* {
	-webkit-transition: all 0.5s ease-out 0s;
     -moz-transition: all 0.5s ease-out 0s;
     -o-transition: all 0.5s ease-out 0s;
     transition: all 0.5s ease-out 0s;
}*/
$fixed-left-part-width: 230px;
$fixed-left-part-width-responsive: 70px;
$fixed-left-part-left-right-padding: 40px;
$a-color: #b9dc78;

@mixin right-arrow ($width, $pxsize, $color) {
	width: $pxsize;
    height: $pxsize;
	-moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top: $width solid $color;
    border-right: $width solid $color;
}
@mixin left-arrow ($width, $pxsize, $color) {
	width: $pxsize;
    height: $pxsize;
	-moz-transform:    rotate(-45deg);
	-o-transform:      rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform:         rotate(-45deg);
	border-top: $width solid $color;
	border-left: $width solid $color;
}
@mixin animation-transition ($speed) {
	-webkit-transition: all $speed ease-out 0s;
     -moz-transition: all $speed ease-out 0s;
     -o-transition: all $speed ease-out 0s;
     transition: all $speed ease-out 0s;
}
@mixin cros-opacity ($val) {
	-moz-opacity: $val; /* Mozilla 1.6 и ниже */
	-khtml-opacity: $val; /* Konqueror 3.1, Safari 1.1 */
	opacity: $val; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+, Chrome 5+, IE 9+ */
}
@mixin border-radius ($val) {
	-moz-border-radius: $val; /* Firefox */
	-webkit-border-radius: $val; /* Safari, Chrome */
	-khtml-border-radius: $val; /* KHTML */
	border-radius: $val; /* CSS3 */
}