.front-page .first-screen {  
	position: relative;
	background: url(../img/front-page-first-screen-bg.png) left top no-repeat;
	background-size: cover;
	overflow: hidden;
}
.front-page .first-screen .wrap-logo {
	position: relative;
	z-index: 10;
}
.front-page .first-screen .tagline {
	font-size: 32px;
	line-height: 41px;
	background: url(../svg/first-screen-tagline-bg.svg) center center no-repeat;
	height: 242px;
	margin: -98px 0 -43px;
    padding: 123px 0 0;	
}  
.front-page .first-screen .tagline:before {
	display: none;
}
.front-page .first-screen .text {
	color: #fff;
	font-size: 20px;
	line-height: 1.8;
}
.front-page .first-screen .scroll-to {
	position: absolute;
	bottom: 60px;
	left: 50%;
	margin-left: -12px;
	@include bottom-arrow (2px, 24px, 24px, #fff);
}
.front-page .this-is {
	position: relative;
	background: url(../img/this-is.png) center center no-repeat;
	padding: 63px 0 59px;
	background: #EEECEB;
}
.front-page .this-is:before {
	content: '';
	display: block;
	position: absolute;
	background: url(../svg/cutlery.svg) center center no-repeat #EEECEB;
	width: 88px;
	height: 40px;
	bottom: 41px;
	left: 50%;
	margin-left: -44px;
}
.front-page .this-is .main-title {
	margin: 0;
}
.front-page .this-is .main-title span {
	display: inline-block;
	background: #EEECEB;
	padding: 0 136px;
}
.front-page .this-is .items {
	border: 2px solid #D8DBCD;
	margin: -17px 0 0 0;
    padding: 115px 0 39px;
}
.front-page .this-is .items .item {
	margin-bottom: 55px;
}
.front-page .our-mission {
	padding: 56px 0 124px;
}
.front-page .our-mission .img {
	position: relative;
    margin: 64px 0 14px;
    padding: 0 0 80px;
}
.front-page .our-mission .img:before {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 124px;
	background: url(../img/decoration-img.png) center bottom no-repeat;
}
.front-page .our-projects {
	position: relative;
}
.front-page .our-projects .items .item {
	position: relative;
	display: table;
	border: 2px solid #fff;
	background-size: cover;
	width: 100%;
	height:	231px;
}
.front-page .our-projects .items .item:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	@include cros-opacity(0.75);
	@include animation-transition (0.2s, all);
}

.front-page .our-projects .items .item:hover:before {
	@include cros-opacity(0);
}
.front-page .our-projects .items .item.left-part {
	padding-left: 38px;
}
.front-page .our-projects .items .item.right-part {
	padding-right: 38px;
}
.front-page .our-projects .items .item .vertical-middle {
	position: relative;
}
.front-page .our-projects .hover-block {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -250px;
	width: 500px;
	height: 500px;
	overflow: hidden;
}
.front-page .our-projects .hover-block .item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	@include border-radius (50%);
	@include cros-opacity(0);
	@include animation-transition (0.2s, all);
}
.front-page .our-projects .hover-block .item.active {
	@include cros-opacity(1);	
}
.front-page .provider {
	padding: 36px 0 78px;
}
.front-page .provider .main-title {
	margin-bottom: 55px;
}
.front-page .provider .wrap-jcarousel {
	position: relative;
}
.front-page .provider .wrap-jcarousel .item {
	width: 100%;
	margin: 0;
}
.front-page .provider .wrap-jcarousel .item .img {
	display: table;
	height: 100px;
	width: 100%;
	margin: 0 0 19px;
}
.front-page .provider .wrap-jcarousel .jcarousel-prev {
	position: absolute;
	left: -52px;
	top: 50%;
	@include left-arrow (2px, 24px, 24px, #D8DBCD);	
	@include animation-transition (0.2s, all);
}

.front-page .provider .wrap-jcarousel .jcarousel-prev:hover {
	@include left-arrow (2px, 24px, 24px, $main-color);	
}
.front-page .provider .wrap-jcarousel .jcarousel-next {
	position: absolute;
	right: -52px;
	top: 50%;
	@include right-arrow (2px, 24px, 24px, #D8DBCD);	
	@include animation-transition (0.2s, all);
}

.front-page .provider .wrap-jcarousel .jcarousel-next:hover {
	@include right-arrow (2px, 24px, 24px, $main-color);	
}
.front-page .about-cooperation {
	padding: 58px 0 59px;
	background: #EEECEB;
}
.front-page .about-cooperation p {
	margin-bottom: 30px;
}
.front-page .about-cooperation .bottom-border {	
	position: relative;
    padding: 59px 0 0;
	border-bottom: 2px solid #D8DBCD;
}
.front-page .about-cooperation .bottom-border:before {	
	content: '';
	display: block;
	position: absolute;
	background: url(../svg/cutlery.svg) center center no-repeat #EEECEB;
	width: 88px;
	height: 40px;
	bottom: -21px;
	left: 50%;
	margin-left: -44px;
}
.front-page .team {
	padding: 86px 0 20px;
}

