.services .list {
	padding: 101px 0 0;
}
.is-phone .services .list {
	padding-top: 0;
}
.is-phone .services .service-description {
	margin: 0 0 48px;
}
.services .service-description {
	/*background-repeat: no-repeat;
	background-size: 50% auto;
	background-position: left top;*/
	margin: 0 0 57px;
}
.services .service-description .img-part img {
	max-width: 100%;
}
.is-phone .services .service-description .img-part img {
	width: 100%;
}
.services .service-description .right-part {
	padding: 8px 0 67px 41px;	
}
.is-phone .services .service-description .right-part {
	padding: 0;	
}
.services .service-description .right-part .text{
	margin: 0 0 21px;
}
.services .hot-hours {
	color: #D5B9A1;
	margin: 0 0 48px;
}
.services .hot-hours .title {
	font-size: 25px;
	font-weight: 600;
	margin: 0 0 9px;
}
.services .hot-hours .text {
	font-style: italic;
}
.services .hot-hours .list-hours {
	padding-top: 6px;
	letter-spacing: 1px;
}
.is-phone .services .hot-hours .list-hours {
	padding-top: 20px;
}
.services .hot-hours .list-hours a {
	display: block;
	color: #D5B9A1;
	text-align: center;
	line-height: 70px;
	height: 70px;
	text-decoration: none;
	border: 1px solid #D5B9A1;
}
.services .price-list {
	margin: 0 0 122px;
}
.services .price-list .item {
	margin: 0 0 47px;
}
.services .price-list .item .title {
	font-size: 25px;
	font-weight: 600;
	color: #7B8586;
	line-height: 42px;
	margin: 0 0 8px;
}
.services .price-list .item .time {
	font-style: italic;
}
.services .price-list .item .price {
	font-size: 30px;
	font-weight: 600;
	color: #3B4444;
	padding: 24px 0 0;
}
.is-phone .services .price-list .item .price {
	padding-top: 0;
}
.services .price-list .item .wrap-btn {
	padding: 8px 0 0;
}
.services .price-list .item .wrap-btn .btn {    
	padding: 20px 0;
	font-size: 20px;
}
.services .top-panel {
	position: relative;
	z-index: 10;
	background: url(../img/gray.png) left top no-repeat #EEF2F3;
	background-size: 50% 100%;
	margin: 0;
}
.services .top-panel .wrap-tabs {
	position: relative;
}
.services .top-panel .wrap-tabs .tab-item {
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
	
	@include cros-opacity(0);
	@include animation-transition (0.5s);
	z-index: 1;
}
.services .top-panel .wrap-tabs .tab-item.active {
	@include cros-opacity(1);
	z-index: 10;
}

.services .top-panel .inner-bg {
	background: #EEF2F3;
}
.services .top-panel .type-sort {
	position: relative;
	background: #CCD9DA;
	color: #fff;
	height: 100px;
}
.services .top-panel .type-sort .dropdown-open {
	position: relative;
	display: block;
	text-decoration: none;
	color: #fff;
}
.services .top-panel .type-sort.open .dropdown-open:before {
	@include top-arrow (2px, 16px, 16px, #fff);
}
.services .top-panel .type-sort .dropdown-open:before {
	content: '';
	position: absolute;
	right: 32px;
    top: 50%;
	margin: -8px 0 0;
	@include bottom-arrow (2px, 16px, 16px, #fff);
}
.services .top-panel .type-sort .title {
	display: none;
	position: relative;	
	height: 100px;
	padding: 0 0 0 121px;
	width: 100%;
	line-height: 32px;
}
.services .top-panel .type-sort .title.active {
	display: table;
}
.services .top-panel .type-sort ul li .title {
	display: table;
}

.services .top-panel .type-sort .title img {
	position: absolute;
	top: 50%;
	left: 35px;
	margin: -24px 0 0;
}
.services .top-panel .type-sort.open ul {
	display: block;
}
.services .top-panel .type-sort ul {
	display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    list-style: none;
	background: #CCD9DA;
	width: 100%;
	z-index: 999;
}
.services .top-panel .type-sort ul li {
	display: block;
}
.services .top-panel .type-sort ul li.active {
	display: none;
}
.services .top-panel .type-sort ul li a {
	color: #fff;
	text-decoration: none;
}
.services .top-panel .wrap-jcarousel {
	position: relative;
	padding: 0 180px 0 0;
}
.services .top-panel .wrap-jcarousel ul li {
	min-width: 240px;
	max-width: 360px;
}
.is-phone .services .top-panel .wrap-jcarousel ul li {
	min-width: auto;
	max-width: auto;	
}
.is-phone .services .top-panel .wrap-jcarousel .item {
	padding: 0;
	border: none
}
.services .top-panel .wrap-jcarousel .item:hover {	
	background: #E6ECED;
}
.services .top-panel .wrap-jcarousel .item.active {
	background: #E6ECED;
}
.services .top-panel .wrap-jcarousel .item {
	display: block;
	text-transform: uppercase;
	color: #3B4444;
	text-decoration: none;	
}
.services .top-panel .wrap-jcarousel .item .inner-item {
	display: table;
	height: 100px;
	text-align: center;
	padding: 0 40px;
	border-right: 1px solid #fff;
	width: 100%;
	@include animation-transition(0.5s);
}

.services .top-panel .wrap-jcarousel .jcarousel-next {
	display: block;
	position: absolute;
	width: 90px;
	height: 100%;
	background: #EEF2F3;
	top: 0;
	right: 0;
	@include animation-transition (0.5s);
	@include cros-opacity (1);
}
.services .top-panel .wrap-jcarousel .jcarousel-next.inactive {
	@include cros-opacity (0);	
	display: none;
}
.services .top-panel .wrap-jcarousel .jcarousel-next:before {
	content: '';
	position: absolute;
	top: 50%;
	right: 50%;
	margin: -8px -8px 0 0;
	@include right-arrow (2px, 16px, 16px, #7B8586);
}

.services .top-panel .wrap-jcarousel .jcarousel-prev {
	display: block;
	position: absolute;
	width: 90px;
	height: 100%;
	background: #EEF2F3;
	top: 0;
	right: 90px;
	@include animation-transition (0.5s);
	@include cros-opacity (1);
}
.services .top-panel .wrap-jcarousel .jcarousel-prev.inactive {
	@include cros-opacity (0);	
	display: none;
}
.services .top-panel .wrap-jcarousel .jcarousel-prev:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -8px;
	@include left-arrow (2px, 16px, 16px, #7B8586);
}
.services .act-specialist {
	position: relative;
	padding: 100px 0 90px;
	background: #F7F9FA;
}
.services .act-specialist img {
	max-width: 100%;
}
.services .act-specialist .right-part {
	padding-left: 40px;
}
.services .act-specialist .right-part .title {
	line-height: 58px;
	margin: -7px 0 6px;
}
.services .act-specialist .right-part .specialization {
	font-weight: 600;
	margin: 0 0 10px;
}
.services .act-specialist .right-part .text {
	line-height: 41px;
}
.services .act-specialist .close-btn {
	position: absolute;
	right: 40px;
	top: 40px;
	background: url(../img/close.png) center center no-repeat;
	width: 20px;
	height: 20px;
}