.shop-top-panel {
	background: #EEF2F3;
	margin: 0 0 40px;
}
.shop-top-panel .inner {
	padding-top: 30px;
}
.shop-top-panel .wrap-menu .btn-menu {
	@include menu-icon(#7B8586);
}
.shop-top-panel .wrap-menu.show .btn-menu {
	@include close-menu-icon();
}
.shop-top-panel .woocommerce-breadcrumb {
	color: #3B4444;
	text-transform: uppercase;
	font-weight: 600;
}
.shop-top-panel .woocommerce-breadcrumb a {
	color: #7B8586;
	text-decoration: none;
}
.shop-top-panel .cart_totals {
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.6px;	
	padding: 30px 0 29px;
	background: #E6ECED;
}

.shop-top-panel .cart_totals .count {
	display: inline-block;
	position: relative;
	font-size: 25px;	
	margin-right: 10px;
}
.shop-top-panel .cart_totals .count .text {
	position: absolute;
	top: 0;
	right: -5px;
	font-size: 15px;
	width: 22px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	@include border-radius (50%);
	background: $a-color;
	color: #fff;
}
.shop .filters {
	margin-bottom: 57px;
}
.shop .filters .item {
	display: inline-block;
	margin: 0 20px 20px 0;
}
.shop .filters .item ul {
	display: none;
	position: absolute;
	padding: 65px 0 26px;
	margin: -64px 0 0;
	list-style: none;
    border: 2px solid $a-color;
	z-index: 1;
	min-width: 270px;
	background: #fff;
}
.shop .filters .item.open ul {
	display: block;
}
.shop .filters .item ul:before {
	content: '';
	display: block;
	position: absolute;
	top: 25px;
    right: 29px;
	@include top-arrow (2px, 13px, 13px, $a-color);
}
.shop .filters .item ul li {
	display: block;
	position: relative;
	padding: 0 20px 0 73px;
	margin: 0 0 7px;
	color: $main-color;
}
.shop .filters .item ul li:before {
	content: '';
	display: block;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 28px;
    top: 13px;
	border: 1px solid #ccd9da;
}
.shop .filters .item ul li.chosen:after {
	content: '';
	display: block;
	position: absolute;
	left: 29px;
    top: 11px;
	@include bottom-arrow (2px, 16px, 10px, $a-color);
	
}
.shop .filters .item ul li a {
	text-decoration: none;
	font-size: 18px;
	color: $main-color;
}
.shop .filters .item .title {
	display: inline-block;
	position: relative;
	font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid $main-color;
    padding: 10px 75px 10px 31px;
    letter-spacing: 1.5px;
	text-decoration: none;
	color: $main-color;
}
.shop .filters .item.open .title {
	border-color: transparent;
	z-index: 10;
}
.shop .filters .item .title:before {
	content: '';
	display: block;
	position: absolute;
	top: 19px;
    right: 28px;
	@include bottom-arrow (2px, 13px, 13px, $main-color);
}
.shop .filters .item.open .title:before {
	display: none;
}
.shop .products {
	padding: 43px 0 0;
}
.shop .products {
	@include products();
}
.shop .bottom-panel {
	padding-top: 15px;
    margin: 0 0 56px;
}
.shop .woocommerce-pagination {
	text-align: right;
}
.shop .woocommerce-pagination ul {
	display: block;
	padding: 0;
	margin: 0;
	list-style: none;
}
.shop .woocommerce-pagination ul li {
	display: inline-block;
	margin: 0 0 0 20px;
	padding: 0;
}

.shop .woocommerce-pagination ul li:first-child {
	margin-left: 0;
}
.shop .woocommerce-pagination ul li a {
	font-weight: 600;
	text-decoration: none;
}

.shop .ordering a {
    display: inline-block;
	margin: 0 0 0 21px;
	text-decoration: none;
	text-transform: lowercase;
	color: $main-color;
}
.shop .ordering a.active {
	color: #3B4444;
}
.shop .tags {
	display: block;
	padding: 0;
	margin: 0 0 50px;
	list-style: none;
}
.shop .tags li {
	display: inline-block;
	padding: 0;
	margin: 0 30px 0 0;
}
.shop .tags li:last-child {
	margin-right: 0
}
.shop .brands {
	background: #F7F9FA;
	margin: 0 0 95px;
}
.shop .brands a {	
	color: #7B8586;
	text-decoration: none;
}
.shop .brands .item {
	display: table;
	width: 100%;
	height: 210px;
	text-align: center;
}
.shop .brands .item img {
	max-width: 100%;
}
.shop .brands .wrap-jcarousel .jcarousel {
    padding: 60px 0px;
}
.shop .brands .wrap-jcarousel .jcarousel-prev {
	display: block;
	position: relative;
	height: 330px;
	width: 100%;
}
.shop .brands .wrap-jcarousel .jcarousel-prev:before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -7px 0 0 -7px;
	@include left-arrow (2px, 15px, 15px, #CCD9DA);	
	@include cros-opacity (1);
	@include animation-transition (0.5s);
}
.shop .brands .wrap-jcarousel .jcarousel-prev.inactive:before {
	@include cros-opacity (0);
}
.shop .brands .wrap-jcarousel .jcarousel-prev:hover:before {
	border-color: #3B4444;
}
.shop .brands .wrap-jcarousel .jcarousel-next {
	display: block;
	position: relative;
	height: 330px;
	width: 100%;
}

.shop .brands .wrap-jcarousel .jcarousel-next {
	display: block;
	position: relative;
	height: 330px;
	width: 100%;
}
.shop .brands .wrap-jcarousel .jcarousel-next:before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	right: 50%;
	margin: -7px -7px 0 0;
	@include right-arrow (2px, 15px, 15px, #CCD9DA);	
	@include cros-opacity (1);
	@include animation-transition (0.5s);
}
.shop .brands .wrap-jcarousel .jcarousel-next.inactive:before {
	@include cros-opacity (0);
}
.shop .brands .wrap-jcarousel .jcarousel-prev:hover:before {
	border-color: #3B4444;
}

.shop .act-brand {
	padding: 50px 0;
	margin: -40px 0 40px;
	background: #F7F9FA;	
}

.shop .on-page a {
	text-decoration: none;
	margin: 0 5px;
}
.shop .on-page a.active {
	color: $main-color;
}

