.single-blog {
	padding: 58px 0 94px;
}
.single-blog .main-title {
	text-align: center;
	margin-bottom: 25px;
}
.single-blog .date {
	text-align: center;
	color: #C2D1BC;
	margin: 0 0 28px;
}
.single-blog .img img {
	width: 100%;
}
.single-blog .text {
	padding-top: 37px;
}
.single-blog .text .alignleft {
	float: left;
}
.single-blog .text .alignright {
	float: right;
	text-align: right;
}
.single-blog .text .aligncenter img {
	width: 100%;
	margin: 0 0 17px;
}
.single-blog .text .wp-caption .wp-caption-text {
	font-style: italic;
}
.single-blog .text .wp-caption {
	margin: 0 0 37px;
}
.single-blog .text .wp-caption.aligncenter {
	width: 100% !important;
}
.single-blog .text .wp-caption.aligncenter img {
	width: 100% !important;
	height: auto !important;
}
.single-blog .text .alignright img, .single-blog .text .alignleft img {
	margin: 0 0 17px;	
}
.single-blog .text table {
	text-align: center;
	margin: 56px 0 11px;
}
.single-blog .text table tbody tr th {
	font-weight: 600;
	background: #EEF2F3;
	padding: 10px 10px;
	text-align: center;
}
.single-blog .text table tbody tr:nth-of-type(odd) td {
	background: #F7F9FA;
}
.single-blog .text table tbody tr:first-child {
	border-top: 1px solid #fff;
}
.single-blog .text table tbody tr {
	border-bottom: 1px solid #fff;
	border-left: 1px solid #fff;
}
.single-blog .text table tbody tr td {
	border-right: 1px solid #fff;
	padding: 10px 10px;
}

.single-blog .comments-block {
	padding: 58px 0 0;
}
.single-blog .comments-block .comment-title {
	margin-bottom: 61px;
}
.single-blog .comment-list {
	display: block;
	margin: 0 0 70px;
	padding: 0;
	list-style: none;
}
.single-blog .comment-list .item {
	background: #F7F9FA;	
	padding: 42px 53px 36px 91px;
}
.single-blog .comment-list .item {
	margin: 0 0 40px;
}
.single-blog .comment-list .item .top-part .title {
	font-weight: 600;
}
.single-blog .comment-list .item .top-part .comment-date {
	text-align: right;
}
.single-blog .comment-list .item .top-part {
	margin-bottom: 14px;
}
.single-blog .comment-list .item .text {
	font-style: italic;
}

.single-blog .comment-list li .children {
	display: block;
	padding: 0 0 0 40px;
	margin: 0;
	list-style: none;	
}

.single-blog .comment-list li .children li .item  {
	background: #EEF2F3;
}
.single-blog .comment-list li .children li .item .comment-reply-link {
	display: none;
}
.single-blog .comments-block .comment-respond {
	background: #F7F9FA;
	padding: 98px 0 71px;
}
.single-blog .comments-block .comment-respond .comment-reply-title {
	text-align: center;
	margin-bottom: 56px;
}
.single-blog .comments-block .comment-respond textarea {
	height: 190px;
}
.single-blog .comments-block .comment-respond .btn {
	padding: 25px 0;
}