.single-product {
	padding: 0;
}
.single-product .shop-top-panel {
	margin-bottom: 130px;
}
.single-product .summary.entry-summary {
	padding-right: 40px;
}
.single-product .shop-top-panel nav .item:last-child {
	display: none;
}
.single-product .shop-top-panel nav .item.previous .delimiter {
	display: none;
}
.single-product .gallery .wrap-image {
	display: table;
	width: 100%;
	text-align: center;
	border: 1px solid #EEF2F3;
	height: 470px;
	overflow: hidden;
	margin: 0 0 18px;
}
.single-product .gallery .wrap-image .image img {
	max-width: 100%;
}
.single-product .gallery .thumbnails .item {
	display: table;
	height: 170px;
	overflow: hidden;
	border: 1px solid #CCD9DA;
	width: 100%;
	margin: 0 0 30px;
	@include cros-opacity (0.35);	
	@include animation-transition (0.5s);
	text-align: center;
}
.single-product .gallery .thumbnails .item a {
	display: inline-block;
    height: 170px;
    overflow: hidden;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
.single-product .gallery .thumbnails .item.active {
	@include cros-opacity (1);		
}
.single-product .gallery .thumbnails .item img {
	width: 100%;	
	height: auto;
}

.single-product .summary .product_title {
	margin-top: -4px;
}
.single-product .summary .brand {
	margin: 0 0 45px;

}
.single-product .summary .brand a {
	text-decoration: none;
	color: #769769;
}


.single-product .summary .brand a {
	text-decoration: none;
	color: #769769;
}
.single-product .summary .add-to-cart {
	padding: 10px 0;
}
.single-product .summary .price {
	font-size: 36px;
	font-weight: 600;
	padding: 6px 0 0;
}
.single-product .summary .quantity .form-control {
  border: 1px solid #EEF2F3;
}
.single-product .summary .description {
	padding: 34px 0 0;
}

.single-product .attributes {
	background: #F7F9FA;
	padding: 46px 0 69px;
	margin-bottom: 125px;
	background: url(../img/product-attr-bg.png) right bottom no-repeat;
}

.single-product .attributes .title {
	color: #3B4444;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0 0 13px;
	padding-top: 48px;
}
.single-product .attributes .sub-items .sub-title {	
	margin: 0 0 13px;
}
