header {
	position: fixed;
	width: 280px;
	left: 0;
	top: 0;
	height: 100%;
	background: #fff;
	z-index: 20;
}
header .top-part {
	display: table;
	position: absolute;
	height: 13%;
	top: 0;
	left: 0;
	width: 100%;	
}
header .middle-part {
	display: table;
	position: absolute;
	height: 50%;
	top: 13%;
	left: 0;
	width: 100%;	
}
header .bottom-part {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;	
}




header .switch-mobile-menu {
	@include menu-icon (#2C2929);
}
header .switch-mobile-menu.active {
	@include close-menu-icon ();
}


header .logo {
	display: block;
	margin-bottom: 30px;
}
header .menu {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.7px;
}
header .menu ul {
	display: block;
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.7px;
}
header .menu ul li {
	display: block;
	margin: 0;
	padding: 0;
}
header .menu ul li a {
	display: block;
	margin: 0;
	padding: 13px 0;
	color: #2C2929;
	text-decoration: none;
}
header .menu ul li.active a {
	background: #EEECEB;
}

header .menu ul li a:hover {
	background: #EEECEB;
}
header .phone {
	font-weight: 400;
	margin-bottom: 8px;
}
header .address {
	margin-bottom: 34px;
}
header .social {
	position: relative;
	padding: 18px 0 20px;
	margin-bottom: 17px;
}
header .social a {
	display: inline-block;
	color: #2C2929;
	margin: 0 11px;
}
header .social:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -55px;
	width: 110px;
	height: 0px;
	border-bottom: 1px solid #EEECEB;

}
header .copyright {
	font-size: 12px;
	line-height: 20px;
	padding: 0 0 22px;
}
#content {
	padding: 0 0 0 280px;
}
footer {
	padding: 21px 0;
	color: #C4C4C4;
	border-top: 2px solid $a-color;
}
.wrap-input-text {
	position: relative;
}
.wrap-input-text .placeholder {
	position: absolute;
	top: 12px;
    left: 14px;
	color: #2C2929;
	font-size: 14px;
	line-height: 16px;
	@include animation-transition (0.2s, all);
}
.wrap-input-text .placeholder span {
	color: #BD381F;
}
.wrap-input-text.is-focus .placeholder {
	font-size: 10px;
	top: 9px;
    letter-spacing: 1px;
}
.page {
	padding: 82px 0 0;
}
.about-cooperation {
	padding: 58px 0 61px;
	background: #EEECEB;
}
.about-cooperation p {
	margin-bottom: 30px;
}
.about-cooperation .bottom-border {	
	position: relative;
    padding: 59px 0 0;
	border-bottom: 2px solid #D8DBCD;
}
.about-cooperation .bottom-border:before {	
	content: '';
	display: block;
	position: absolute;
	background: url(../svg/cutlery.svg) center center no-repeat #EEECEB;
	width: 88px;
	height: 40px;
	bottom: -21px;
	left: 50%;
	margin-left: -44px;
}


.wrap-input-file {
    position: relative;
    border: 1px dashed #D8DBCD;
    height: 80px;
    line-height: 24px;
    text-align: center;
}
.wrap-input-file .file-name {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 7px 0 0;
}
.wrap-input-file .file-name span {
    color: $a-color;
	text-decoration: underline;
}
.wrap-input-file .wrap-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.wrap-input-file .wrap-input input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include cros-opacity(0);
}

.wrap-mobile-menu {
	display: none;
	position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0 0 0 70px;
    z-index: 10;
    background: #fff;
}
.mobile-menu {
	position: relative;
    display: table;
    height: 100%;
	width: 100%;
	border-left: 1px solid #2C2929;
}
.mobile-menu ul {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}
.mobile-menu ul li a {
    display: block;
    margin: 0;
    padding: 13px 0;
    color: #2C2929;
    text-decoration: none;
}
.mobile-menu ul li.active a {
    background: #EEECEB;
}