.wrap-input-text {
	position: relative;
}
.wrap-input-text .placeholder {
	position: absolute;
	top: 12px;
    left: 14px;
	color: #2C2929;
	font-size: 14px;
	line-height: 16px;
	@include animation-transition (0.2s, all);
}
.wrap-input-text .placeholder span {
	color: #BD381F;
}
.wrap-input-text.is-focus .placeholder {
	font-size: 10px;
	top: 9px;
    letter-spacing: 1px;
}