@charset "UTF-8";
/* {
	-webkit-transition: all 0.5s ease-out 0s;
     -moz-transition: all 0.5s ease-out 0s;
     -o-transition: all 0.5s ease-out 0s;
     transition: all 0.5s ease-out 0s;
}*/
.wrap-vertical-position {
  display: table;
  width: 100%;
  height: 100%; }

.vertical-middle {
  display: table-cell;
  vertical-align: middle; }

.vertical-bottom {
  display: table-cell;
  vertical-align: bottom; }

.no-p {
  padding-left: 0;
  padding-right: 0; }

.no-pr {
  padding-right: 0; }

.no-pl {
  padding-left: 0; }

.fancybox-nav {
  width: 36px;
  right: -36px; }

.fancybox-nav span {
  visibility: visible;
  background: none; }

.fancybox-prev span {
  left: 0;
  width: 11px;
  height: 11px;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-top: 2px solid #4b5a5f;
  border-left: 2px solid #4b5a5f; }

.fancybox-next span {
  right: 0;
  width: 11px;
  height: 11px;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 2px solid #4b5a5f;
  border-right: 2px solid #4b5a5f; }

.fancybox-prev {
  width: 36px;
  left: -36px; }

.fancybox-close {
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  background: url(../img/fancybox-close.png) center center no-repeat; }

.container {
  width: 1440px !important; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 38px;
  color: #7B8586;
  background: #fff; }

a {
  color: #88C9CD;
  text-decoration: underline; }

a:hover {
  text-decoration: none;
  color: #88C9CD; }

.header {
  padding: 30px 0 17px;
  border-bottom: 1px solid #eef2f3; }

.header .logo {
  display: inline-block;
  width: 150px;
  height: 40px;
  background: url(../svg/logo-2.svg) center top no-repeat;
  background-size: 100% auto; }

.header .menu ul {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.1px; }

.header .menu ul li {
  display: inline-block;
  margin: 0 31px 0 0;
  padding: 0; }

.header .menu ul li:last-child {
  margin-right: 0; }

.header .menu ul li a {
  color: #3B4444;
  text-decoration: none; }

.header .menu ul li a:hover {
  color: #C2D1BC; }

footer {
  text-align: center; }

footer a {
  text-decoration: none; }

footer .social a {
  display: inline-block;
  color: #7B8586;
  margin: 0 3px; }

footer .social a:hover {
  color: #88C9CD; }

.spinner {
  position: relative; }

.spinner input {
  text-align: right;
  padding-right: 30px;
  text-align: center; }

.spinner .input-group-btn-vertical {
  position: absolute;
  white-space: nowrap;
  width: 30px;
  top: 0;
  right: 0;
  z-index: 10;
  height: 100%;
  background: #EEF2F3; }

.spinner .input-group-btn-vertical > .btn-control {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  right: 0;
  line-height: 25px;
  text-align: center;
  text-decoration: none; }

.spinner .input-group-btn-vertical > .btn-control:last-child {
  top: 50%; }

.wrap-form-control {
  position: relative; }

.wrap-form-control .additional-placeholder {
  position: absolute;
  top: 13px;
  left: 15px;
  font-size: 14px;
  color: #3B4444;
  font-weight: 300;
  line-height: 14px; }

.wrap-form-control .additional-placeholder span {
  color: #D5B9A1; }

.shop-top-panel {
  background: #EEF2F3;
  margin: 0 0 40px; }

.shop-top-panel .inner {
  padding-top: 30px; }

.shop-top-panel .btn-menu .icon {
  position: relative;
  display: inline-block;
  height: 14px;
  width: 16px;
  margin: 0 13px 0 0; }
.shop-top-panel .btn-menu .icon:before {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 0;
  left: 0;
  background: #7B8586; }
.shop-top-panel .btn-menu .icon:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #7B8586; }
.shop-top-panel .btn-menu .icon .middle-line {
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  background: #7B8586;
  margin-top: -1px; }

.shop-top-panel .woocommerce-breadcrumb {
  color: #3B4444;
  text-transform: uppercase;
  font-weight: 600; }

.shop-top-panel .woocommerce-breadcrumb a {
  color: #7B8586;
  text-decoration: none; }

.shop-top-panel .cart_totals {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  padding: 30px 0 29px;
  background: #E6ECED; }

.shop-top-panel .cart_totals .count {
  display: inline-block;
  position: relative;
  font-size: 25px;
  margin-right: 10px; }

.shop-top-panel .cart_totals .count .text {
  position: absolute;
  top: 0;
  right: -5px;
  font-size: 15px;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  -moz-border-radius: 50%;
  /* Firefox */
  -webkit-border-radius: 50%;
  /* Safari, Chrome */
  -khtml-border-radius: 50%;
  /* KHTML */
  border-radius: 50%;
  /* CSS3 */
  background: #88C9CD;
  color: #fff; }

.shop .filters {
  margin-bottom: 57px; }

.shop .filters .item {
  display: inline-block;
  position: relative; }

.shop .filters .item ul {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 65px 0 26px;
  margin: 0;
  list-style: none;
  border: 2px solid #88C9CD;
  z-index: 1;
  min-width: 370px;
  background: #fff; }

.shop .filters .item ul:before {
  content: '';
  display: block;
  position: absolute;
  top: 25px;
  right: 29px;
  width: 13px;
  height: 13px;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 2px solid #88C9CD;
  border-left: 2px solid #88C9CD; }

.shop .filters .item ul li {
  display: block;
  position: relative;
  padding: 0 0 0 73px;
  margin: 0 0 7px;
  color: #7B8586; }

.shop .filters .item ul li:before {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 28px;
  top: 13px;
  border: 1px solid #ccd9da; }

.shop .filters .item ul li.chosen:after {
  content: '';
  display: block;
  position: absolute;
  left: 29px;
  top: 11px;
  width: 16px;
  height: 10px;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-bottom: 2px solid #88C9CD;
  border-left: 2px solid #88C9CD; }

.shop .filters .item ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #7B8586; }

.shop .filters .item .title {
  display: inline-block;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #7B8586;
  padding: 10px 75px 10px 31px;
  letter-spacing: 1.5px;
  z-index: 10; }

.shop .filters .item.active .title {
  border-color: transparent; }

.shop .filters .item .title:before {
  content: '';
  display: block;
  position: absolute;
  top: 19px;
  right: 28px;
  width: 13px;
  height: 13px;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-bottom: 2px solid #7B8586;
  border-left: 2px solid #7B8586; }

.shop .products {
  padding: 43px 0 0; }

.shop .products ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none; }
.shop .products ul li {
  float: left;
  clear: none;
  margin: 0 0 28px;
  padding: 0 14px;
  width: 30%; }
.shop .products ul li .wrap-border {
  border: 1px solid transparent; }
.shop .products ul li .inner {
  position: relative;
  border: 1px solid #eef2f3;
  overflow: hidden;
  height: 332px; }
.shop .products ul li:nth-of-type(9n-7) {
  width: 40%; }
.shop .products ul li:nth-of-type(9n-5) {
  width: 40%; }
.shop .products ul li:nth-of-type(9n-2) {
  width: 40%; }
.shop .products ul li:nth-of-type(9n-1) {
  margin-top: -118px; }
.shop .products ul li:nth-of-type(9n-1) .inner {
  height: 450px; }
.shop .products ul li:nth-of-type(9n-5) .inner, .shop .products ul li:nth-of-type(9n-3) .inner {
  height: 450px; }
.shop .products ul li .inner .bg {
  position: absolute;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center; }
.shop .products ul li .inner .bg img {
  max-width: 100%;
  height: auto; }
.shop .products ul li .inner .bottom-part {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 31px 20px;
  background: rgba(255, 255, 255, 0.75); }
.shop .products ul li .inner .bottom-part .brand {
  font-size: 16px;
  line-height: 20px;
  font-style: italic;
  color: #769769;
  margin: 0 0 5px; }
.shop .products ul li .inner .bottom-part .brand a {
  text-decoration: none;
  color: #769769; }
.shop .products ul li .inner .bottom-part .price {
  font-size: 24px;
  font-weight: 600;
  color: #7B8586;
  line-height: 30px; }
.shop .products ul li .inner .hover-part {
  -moz-opacity: 0;
  /* Mozilla 1.6 ╨╕ ╨╜╨╕╨╢╨╡ */
  -khtml-opacity: 0;
  /* Konqueror 3.1, Safari 1.1 */
  opacity: 0;
  /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+, Chrome 5+, IE 9+ */
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
  text-align: center; }
.shop .products ul li .inner .hover-part .btn {
  margin: 15px 0;
  padding-left: 0;
  padding-right: 0;
  width: 210px; }
.shop .products ul li:hover .wrap-border {
  border: 1px solid #88C9CD; }
.shop .products ul li:hover .inner {
  border: 1px solid #88C9CD; }
.shop .products ul li:hover .inner .hover-part {
  -moz-opacity: 1;
  /* Mozilla 1.6 ╨╕ ╨╜╨╕╨╢╨╡ */
  -khtml-opacity: 1;
  /* Konqueror 3.1, Safari 1.1 */
  opacity: 1;
  /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+, Chrome 5+, IE 9+ */ }

.shop .bottom-panel {
  padding-top: 15px;
  margin: 0 0 56px; }

.shop .woocommerce-pagination ul {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none; }

.shop .woocommerce-pagination ul li {
  display: inline-block;
  margin: 0 0 0 20px;
  padding: 0; }

.shop .woocommerce-pagination ul li a {
  font-weight: 600;
  text-decoration: none; }

.shop .ordering a {
  display: inline-block;
  margin: 0 0 0 21px;
  text-decoration: none;
  text-transform: lowercase;
  color: #7B8586; }

.shop .ordering a.active {
  color: #3B4444; }

.shop .brands {
  background: #F7F9FA;
  margin: 0 0 95px; }

.shop .brands a {
  color: #7B8586;
  text-decoration: none; }

.shop .brands .item {
  display: table;
  width: 100%;
  height: 210px;
  text-align: center; }

.shop .brands .wrap-jcarousel .jcarousel {
  padding: 60px 0px; }

.shop .brands .wrap-jcarousel .jcarousel-prev {
  display: block;
  position: relative;
  height: 330px;
  width: 100%; }

.shop .brands .wrap-jcarousel .jcarousel-prev:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -7px;
  width: 15px;
  height: 15px;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-top: 2px solid #CCD9DA;
  border-left: 2px solid #CCD9DA;
  -moz-opacity: 1;
  /* Mozilla 1.6 ╨╕ ╨╜╨╕╨╢╨╡ */
  -khtml-opacity: 1;
  /* Konqueror 3.1, Safari 1.1 */
  opacity: 1;
  /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+, Chrome 5+, IE 9+ */
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s; }

.shop .brands .wrap-jcarousel .jcarousel-prev.inactive:before {
  -moz-opacity: 0;
  /* Mozilla 1.6 ╨╕ ╨╜╨╕╨╢╨╡ */
  -khtml-opacity: 0;
  /* Konqueror 3.1, Safari 1.1 */
  opacity: 0;
  /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+, Chrome 5+, IE 9+ */ }

.shop .brands .wrap-jcarousel .jcarousel-prev:hover:before {
  border-color: #3B4444; }

.shop .brands .wrap-jcarousel .jcarousel-next {
  display: block;
  position: relative;
  height: 330px;
  width: 100%; }

.shop .brands .wrap-jcarousel .jcarousel-next {
  display: block;
  position: relative;
  height: 330px;
  width: 100%; }

.shop .brands .wrap-jcarousel .jcarousel-next:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 50%;
  margin: -7px -7px 0 0;
  width: 15px;
  height: 15px;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 2px solid #CCD9DA;
  border-right: 2px solid #CCD9DA;
  -moz-opacity: 1;
  /* Mozilla 1.6 ╨╕ ╨╜╨╕╨╢╨╡ */
  -khtml-opacity: 1;
  /* Konqueror 3.1, Safari 1.1 */
  opacity: 1;
  /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+, Chrome 5+, IE 9+ */
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s; }

.shop .brands .wrap-jcarousel .jcarousel-next.inactive:before {
  -moz-opacity: 0;
  /* Mozilla 1.6 ╨╕ ╨╜╨╕╨╢╨╡ */
  -khtml-opacity: 0;
  /* Konqueror 3.1, Safari 1.1 */
  opacity: 0;
  /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+, Chrome 5+, IE 9+ */ }

.shop .brands .wrap-jcarousel .jcarousel-prev:hover:before {
  border-color: #3B4444; }

.front-page {
  padding-bottom: 92px; }

.front-page-first-screen {
  position: relative;
  color: #fff;
  padding: 43px 0 0;
  overflow: hidden; }

.front-page-first-screen .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.front-page-first-screen .top-part {
  margin-bottom: 231px; }

.front-page-first-screen .top-part .logo {
  display: inline-block;
  width: 262.5px;
  height: 70px;
  background: url(../svg/logo.svg) center top no-repeat;
  background-size: 100% auto; }

.front-page-first-screen .top-part .contact-info {
  text-align: right;
  padding-right: 40px; }

.front-page-first-screen .top-part .contact-info span {
  font-size: 30px;
  font-weight: 300; }

.front-page-first-screen .top-part .wrap-btn-menu {
  padding: 4px 0 0 30px; }

.front-page-first-screen .top-part .wrap-btn-menu .btn-menu {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px; }

.front-page-first-screen .top-part .wrap-btn-menu .btn-menu .icon {
  position: relative;
  display: inline-block;
  height: 14px;
  width: 16px;
  margin: 0 13px 0 0; }
.front-page-first-screen .top-part .wrap-btn-menu .btn-menu .icon:before {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff; }
.front-page-first-screen .top-part .wrap-btn-menu .btn-menu .icon:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #fff; }
.front-page-first-screen .top-part .wrap-btn-menu .btn-menu .icon .middle-line {
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  background: #fff;
  margin-top: -1px; }

.front-page-first-screen .middle-part .text {
  font-size: 44px;
  font-weight: 300;
  line-height: 59px;
  text-align: center; }

.front-page-first-screen .middle-part .separate {
  height: 20px;
  margin: 31px 0 35px;
  background: url(../img/separate.png) top center no-repeat; }

.front-page-first-screen .middle-part .wrap-btn {
  margin: 0 0 41px; }

.front-page-first-screen .middle-part .wrap-btn .btn.btn-green {
  padding: 16px 0 15px;
  background: rgba(241, 223, 213, 0.75);
  border-color: rgba(241, 223, 213, 0.75);
  font-size: 26px;
  letter-spacing: 3.5px; }

.front-page-first-screen .middle-part .social {
  text-align: center; }

.front-page-first-screen .middle-part .social a {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.75);
  margin: 0 16px; }

.front-page-first-screen .middle-part .social a:hover {
  color: #27aae1; }

.front-page-first-screen .wrap-next-screen {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  bottom: 50px;
  width: 100%; }

.front-page-first-screen .wrap-next-screen .next-screen {
  display: inline-block;
  width: 16px;
  height: 16px;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff; }

.front-page .block-products .main-title {
  text-align: center; }

.front-page .block-products ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none; }
.front-page .block-products ul li {
  float: left;
  clear: none;
  margin: 0 0 28px;
  padding: 0 14px;
  width: 30%; }
.front-page .block-products ul li .wrap-border {
  border: 1px solid transparent; }
.front-page .block-products ul li .inner {
  position: relative;
  border: 1px solid #eef2f3;
  overflow: hidden;
  height: 332px; }
.front-page .block-products ul li:nth-of-type(9n-7) {
  width: 40%; }
.front-page .block-products ul li:nth-of-type(9n-5) {
  width: 40%; }
.front-page .block-products ul li:nth-of-type(9n-2) {
  width: 40%; }
.front-page .block-products ul li:nth-of-type(9n-1) {
  margin-top: -118px; }
.front-page .block-products ul li:nth-of-type(9n-1) .inner {
  height: 450px; }
.front-page .block-products ul li:nth-of-type(9n-5) .inner, .front-page .block-products ul li:nth-of-type(9n-3) .inner {
  height: 450px; }
.front-page .block-products ul li .inner .bg {
  position: absolute;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center; }
.front-page .block-products ul li .inner .bg img {
  max-width: 100%;
  height: auto; }
.front-page .block-products ul li .inner .bottom-part {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 31px 20px;
  background: rgba(255, 255, 255, 0.75); }
.front-page .block-products ul li .inner .bottom-part .brand {
  font-size: 16px;
  line-height: 20px;
  font-style: italic;
  color: #769769;
  margin: 0 0 5px; }
.front-page .block-products ul li .inner .bottom-part .brand a {
  text-decoration: none;
  color: #769769; }
.front-page .block-products ul li .inner .bottom-part .price {
  font-size: 24px;
  font-weight: 600;
  color: #7B8586;
  line-height: 30px; }
.front-page .block-products ul li .inner .hover-part {
  -moz-opacity: 0;
  /* Mozilla 1.6 ╨╕ ╨╜╨╕╨╢╨╡ */
  -khtml-opacity: 0;
  /* Konqueror 3.1, Safari 1.1 */
  opacity: 0;
  /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+, Chrome 5+, IE 9+ */
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
  text-align: center; }
.front-page .block-products ul li .inner .hover-part .btn {
  margin: 15px 0;
  padding-left: 0;
  padding-right: 0;
  width: 210px; }
.front-page .block-products ul li:hover .wrap-border {
  border: 1px solid #88C9CD; }
.front-page .block-products ul li:hover .inner {
  border: 1px solid #88C9CD; }
.front-page .block-products ul li:hover .inner .hover-part {
  -moz-opacity: 1;
  /* Mozilla 1.6 ╨╕ ╨╜╨╕╨╢╨╡ */
  -khtml-opacity: 1;
  /* Konqueror 3.1, Safari 1.1 */
  opacity: 1;
  /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+, Chrome 5+, IE 9+ */ }

.front-page .block-products ul {
  padding-top: 60px; }

.single-product {
  padding: 90px 0 0; }

.single-product .gallery .wrap-image {
  display: table;
  width: 100%;
  text-align: center;
  border: 1px solid #EEF2F3;
  height: 470px;
  overflow: hidden;
  margin: 0 0 18px; }

.single-product .gallery .wrap-image .image img {
  max-width: 100%; }

.single-product .gallery .thumbnails .item {
  display: table;
  height: 170px;
  overflow: hidden;
  border: 1px solid #CCD9DA;
  width: 100%;
  margin: 0 0 30px;
  -moz-opacity: 0.35;
  /* Mozilla 1.6 ╨╕ ╨╜╨╕╨╢╨╡ */
  -khtml-opacity: 0.35;
  /* Konqueror 3.1, Safari 1.1 */
  opacity: 0.35;
  /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+, Chrome 5+, IE 9+ */
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s; }

.single-product .gallery .thumbnails .item.active {
  -moz-opacity: 1;
  /* Mozilla 1.6 ╨╕ ╨╜╨╕╨╢╨╡ */
  -khtml-opacity: 1;
  /* Konqueror 3.1, Safari 1.1 */
  opacity: 1;
  /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+, Chrome 5+, IE 9+ */ }

.single-product .gallery .thumbnails .item img {
  width: 100%;
  height: auto; }

.single-product .summary .product_title {
  margin-top: -4px; }

.single-product .summary .brand {
  margin: 0 0 45px; }

.single-product .summary .brand a {
  text-decoration: none;
  color: #769769; }

.single-product .summary .brand a {
  text-decoration: none;
  color: #769769; }

.single-product .summary .add-to-cart {
  padding: 10px 0; }

.single-product .summary .price {
  font-size: 36px;
  font-weight: 600;
  padding: 6px 0 0; }

.single-product .summary .quantity .form-control {
  border: 1px solid #EEF2F3; }

.single-product .summary .description {
  padding: 34px 0 0;
  line-height: 40px; }

.single-product .attributes {
  background: #F7F9FA;
  padding: 46px 0 69px;
  margin-bottom: 125px; }

.single-product .attributes .title {
  color: #3B4444;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 13px;
  padding-top: 48px; }

.single-product .attributes .sub-items .sub-title {
  margin: 0 0 13px; }

.services .list {
  padding: 101px 0 0; }

.services .service-description {
  background-repeat: no-repeat;
  background-size: 50% auto;
  background-position: left top;
  margin: 0 0 57px; }

.services .service-description .right-part {
  padding: 8px 0 67px 41px; }

.services .service-description .right-part .text {
  line-height: 40px;
  margin: 0 0 21px; }

.services .hot-hours {
  color: #D5B9A1;
  margin: 0 0 48px; }

.services .hot-hours .title {
  font-size: 25px;
  font-weight: 600;
  margin: 0 0 9px; }

.services .hot-hours .text {
  font-style: italic; }

.services .hot-hours .list {
  padding-top: 6px;
  letter-spacing: 1px; }

.services .hot-hours .list a {
  display: block;
  color: #D5B9A1;
  text-align: center;
  line-height: 70px;
  height: 70px;
  text-decoration: none;
  border: 1px solid #D5B9A1; }

.services .price {
  margin: 0 0 122px; }

.services .price .item {
  margin: 0 0 47px; }

.services .price .item .title {
  font-size: 25px;
  font-weight: 600;
  color: #7B8586;
  line-height: 42px;
  margin: 0 0 8px; }

.services .price .item .time {
  font-style: italic; }

.services .price .item .price {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #3B4444;
  padding: 24px 0 0; }

.services .price .item .wrap-btn {
  padding: 8px 0 0; }

.services .price .item .wrap-btn .btn {
  padding: 20px 0;
  font-size: 20px; }

.services .top-panel {
  position: relative;
  z-index: 10;
  background: url(../img/gray.png) left top no-repeat #EEF2F3;
  background-size: 50% 100%;
  margin: 0; }

.services .top-panel .wrap-tabs .tab-item {
  display: none; }

.services .top-panel .wrap-tabs .tab-item.active {
  display: block; }

.services .top-panel .inner-bg {
  background: #EEF2F3; }

.services .top-panel .type-sort {
  position: relative;
  background: #CCD9DA;
  color: #fff;
  height: 100px; }

.services .top-panel .type-sort .dropdown-open {
  position: relative;
  display: block;
  text-decoration: none;
  color: #fff; }

.services .top-panel .type-sort .dropdown-open:before {
  content: '';
  position: absolute;
  right: 32px;
  top: 50%;
  margin: -8px 0 0;
  width: 16px;
  height: 16px;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff; }

.services .top-panel .type-sort .title {
  display: none;
  position: relative;
  height: 100px;
  padding: 0 0 0 121px;
  width: 100%;
  line-height: 32px; }

.services .top-panel .type-sort .title.active {
  display: table; }

.services .top-panel .type-sort ul li .title {
  display: table; }

.services .top-panel .type-sort .title img {
  position: absolute;
  top: 50%;
  left: 35px;
  margin: -24px 0 0; }

.services .top-panel .type-sort.open ul {
  display: block; }

.services .top-panel .type-sort ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  background: #CCD9DA;
  width: 100%; }

.services .top-panel .type-sort ul li {
  display: block; }

.services .top-panel .type-sort ul li.active {
  display: none; }

.services .top-panel .type-sort ul li a {
  color: #fff;
  text-decoration: none; }

.services .top-panel .wrap-jcarousel {
  position: relative; }

.services .top-panel .wrap-jcarousel ul li {
  min-width: 240px;
  max-width: 360px; }

.services .top-panel .wrap-jcarousel .item {
  display: table;
  height: 100px;
  text-align: center;
  padding: 0 40px;
  border-right: 1px solid #fff;
  width: 100%;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s; }

.services .top-panel .wrap-jcarousel .item:hover {
  background: #E6ECED; }

.services .top-panel .wrap-jcarousel .item.active {
  background: #E6ECED; }

.services .top-panel .wrap-jcarousel .item a {
  text-transform: uppercase;
  color: #3B4444;
  text-decoration: none; }

.services .top-panel .wrap-jcarousel .jcarousel-next {
  display: block;
  position: absolute;
  width: 90px;
  height: 100%;
  background: #EEF2F3;
  top: 0;
  right: 0;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
  -moz-opacity: 1;
  /* Mozilla 1.6 ╨╕ ╨╜╨╕╨╢╨╡ */
  -khtml-opacity: 1;
  /* Konqueror 3.1, Safari 1.1 */
  opacity: 1;
  /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+, Chrome 5+, IE 9+ */ }

.services .top-panel .wrap-jcarousel .jcarousel-next.inactive {
  -moz-opacity: 0;
  /* Mozilla 1.6 ╨╕ ╨╜╨╕╨╢╨╡ */
  -khtml-opacity: 0;
  /* Konqueror 3.1, Safari 1.1 */
  opacity: 0;
  /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+, Chrome 5+, IE 9+ */
  display: none; }

.services .top-panel .wrap-jcarousel .jcarousel-next:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 50%;
  margin: -8px -8px 0 0;
  width: 16px;
  height: 16px;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 2px solid #7B8586;
  border-right: 2px solid #7B8586; }

.services .top-panel .wrap-jcarousel .jcarousel-prev {
  display: block;
  position: absolute;
  width: 90px;
  height: 100%;
  background: #EEF2F3;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
  -moz-opacity: 1;
  /* Mozilla 1.6 ╨╕ ╨╜╨╕╨╢╨╡ */
  -khtml-opacity: 1;
  /* Konqueror 3.1, Safari 1.1 */
  opacity: 1;
  /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+, Chrome 5+, IE 9+ */ }

.services .top-panel .wrap-jcarousel .jcarousel-prev.inactive {
  -moz-opacity: 0;
  /* Mozilla 1.6 ╨╕ ╨╜╨╕╨╢╨╡ */
  -khtml-opacity: 0;
  /* Konqueror 3.1, Safari 1.1 */
  opacity: 0;
  /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+, Chrome 5+, IE 9+ */
  display: none; }

.services .top-panel .wrap-jcarousel .jcarousel-prev:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -8px 0 0 -8px;
  width: 16px;
  height: 16px;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-top: 2px solid #7B8586;
  border-left: 2px solid #7B8586; }

.services .act-specialist {
  position: relative;
  padding: 100px 0 90px;
  background: #F7F9FA; }

.services .act-specialist img {
  max-width: 100%; }

.services .act-specialist .right-part {
  padding-left: 40px; }

.services .act-specialist .right-part .title {
  line-height: 58px;
  margin: -7px 0 6px; }

.services .act-specialist .right-part .specialization {
  font-weight: 600;
  margin: 0 0 10px; }

.services .act-specialist .right-part .text {
  line-height: 41px; }

.services .act-specialist .close-btn {
  position: absolute;
  right: 40px;
  top: 40px;
  background: url(../img/close.png) center center no-repeat;
  width: 20px;
  height: 20px; }

.single-specialist .first-screen {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat; }

.single-specialist .content {
  background: #fff;
  padding: 57px 0 0;
  margin: -170px 0 26px; }

.single-specialist .content .title {
  text-align: center;
  margin: 0 0 3px; }

.single-specialist .content .specialization {
  text-align: center;
  color: #769769; }

.single-specialist .content .text {
  padding: 88px 0 0;
  line-height: 40px; }

.single-specialist .content .text p {
  margin: 0 0 20px; }

.single-specialist .content .text .indent {
  padding: 0 26px 0 70px; }

.single-specialist .content .text .alignleft {
  float: left;
  text-align: center; }

.single-specialist .content .text .alignright {
  float: right;
  text-align: center; }

.single-specialist .content .text .noindent {
  padding: 10px 0 18px; }

.single-specialist .content .text .wp-caption-text {
  font-style: italic; }

.single-specialist .wrap-form {
  background: #F7F9FA;
  padding: 98px 0 70px;
  margin: 0 0 95px; }

.single-specialist .wrap-form .title {
  text-align: center;
  margin: 0 0 56px; }

.single-specialist .wrap-form .btn {
  border-width: 2px;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1.9px;
  padding: 20px 0 0;
  height: 80px; }

.blog {
  padding: 0 0 61px; }

.blog .important {
  overflow: hidden; }

.blog .important .wrap-jcarousel {
  position: relative;
  height: 600px; }

.blog .important .wrap-jcarousel .jcarousel-prev {
  position: absolute;
  top: 0;
  left: 0;
  width: 16.66666667%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75); }

.blog .important .wrap-jcarousel .jcarousel-prev:before {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 90px;
  height: 22px;
  margin: -11px 0 0 -44px;
  background: url(../img/long-arrow.png) left top no-repeat; }

.blog .important .wrap-jcarousel .jcarousel-prev:hover:before {
  background-position: left bottom; }

.blog .important .wrap-jcarousel .jcarousel-next {
  position: absolute;
  top: 0;
  right: 0;
  width: 16.66666667%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75); }

.blog .important .wrap-jcarousel .jcarousel-next:before {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  right: 50%;
  width: 90px;
  height: 22px;
  margin: -11px -44px 0 0;
  background: url(../img/long-arrow.png) right top no-repeat; }

.blog .important .wrap-jcarousel .jcarousel-next:hover:before {
  background-position: right bottom; }

.blog .important .wrap-jcarousel .jcarousel {
  position: relative;
  overflow: visible;
  width: 200%;
  left: -50%; }

.blog .important .item {
  position: relative;
  height: 600px; }

.blog .important .item .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover; }

.blog .important .item .bottom-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 0 0 25px;
  background: rgba(255, 255, 255, 0.75); }

.blog .important .item .bottom-panel .left-part {
  display: table;
  width: 100%;
  height: 170px;
  overflow: hidden; }

.blog .important .item .bottom-panel .title {
  font-weight: 300;
  line-height: 58px;
  margin: 0; }

.blog .important .item .bottom-panel .title a {
  text-decoration: none;
  color: #3B4444; }

.blog .important .item .bottom-panel .right-part {
  padding: 41px 0 0 9px;
  height: 170px;
  overflow: hidden; }

.blog .important .item .bottom-panel .right-part .post-categories {
  display: block;
  padding: 0;
  margin: 0 0 13px;
  list-style: none;
  font-weight: 600; }

.blog .important .item .bottom-panel .right-part .post-categories li {
  display: block;
  margin: 0;
  padding: 0; }

.blog .important .item .bottom-panel .right-part .post-categories li a {
  color: #769769; }

.blog-categories {
  background: #EEF2F3; }

.blog-categories ul {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.6px; }

.blog-categories ul li {
  display: inline-block; }

.blog-categories ul li a {
  display: inline-block;
  text-decoration: none;
  color: #7B8586;
  height: 100px;
  padding: 32px 13px 0; }

.blog .items {
  padding: 100px 0 0; }

.blog .items .item .img {
  margin: 0 0 26px;
  text-align: center; }

.blog .items .item .img img {
  max-width: 100%; }

.blog .items .item .title {
  font-size: 28px;
  line-height: 45px;
  margin-bottom: 13px; }

.blog .items .item .post-categories {
  display: block;
  padding: 0;
  margin: 0 0 23px;
  list-style: none;
  font-weight: 600; }

.blog .items .item .post-categories li {
  display: inline-block;
  margin: 0;
  padding: 0; }

.blog .items .item .post-categories li a {
  color: #769769; }

.blog .items .item .text {
  margin-bottom: 45px;
  line-height: 40px; }

.blog .items .item .text .more {
  color: #7B8586;
  text-decoration: none; }

.blog .items .item .permalink {
  display: block;
  width: 90px;
  height: 22px;
  background: url(../img/more.png) left top no-repeat; }

.blog .paginate {
  text-align: center;
  font-weight: 600; }

.blog .paginate a {
  text-decoration: none; }

.blog .paginate .dots {
  color: #88C9CD; }

.blog .paginate .page-numbers {
  display: inline-block;
  margin: 0 10px; }

.single-blog {
  padding: 58px 0 0; }

.single-blog .main-title {
  text-align: center;
  margin-bottom: 25px; }

.single-blog .date {
  text-align: center;
  color: #C2D1BC;
  margin: 0 0 28px; }

.single-blog .img img {
  width: 100%; }

.single-blog .text {
  line-height: 40px; }

.single-blog .text .alignleft {
  float: left; }

.single-blog .text .alignright {
  float: right; }

.single-blog .text .aligncenter img {
  width: 100%;
  margin: 0 0 17px; }

.single-blog .text .wp-caption .wp-caption-text {
  font-style: italic;
  text-align: center; }

.single-blog .text .wp-caption {
  margin: 65px 0 37px; }

.single-blog .text .alignright img, .single-blog .text .alignleft img {
  margin: 0 0 17px; }

.single-blog .text table {
  text-align: center; }

.single-blog .text table {
  margin: 56px 0 11px; }

.single-blog .text table tbody tr th {
  font-weight: 600;
  background: #EEF2F3;
  padding: 10px 0; }

.single-blog .text table tbody tr:nth-of-type(odd) td {
  background: #F7F9FA; }

.single-blog .text table tbody tr:first-child {
  border-top: 1px solid #fff; }

.single-blog .text table tbody tr {
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff; }

.single-blog .text table tbody tr td {
  border-right: 1px solid #fff;
  padding: 10px 0; }

.single-blog .comments-block {
  padding: 58px 0 0; }

.single-blog .comment-list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none; }

.single-blog .comment-list .comment-title {
  margin-bottom: 10px; }

.single-blog .comment-list .item {
  background: #F7F9FA; }

/*# sourceMappingURL=min.css.map */
