.about {
	padding: 0 0 20px;
}
.about .img {
	height: 430px;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
}
.about .text-block {
	position: relative;
	background: #fff;
	padding: 55px 70px 51px;	
	margin: -180px 0 54px;
}
.about .text-block .title {
	text-align: center;
}
.about .text-block:before {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 15px 0 15px;
	border-color: #ffffff transparent transparent transparent;
	bottom: -15px;
	left: 50%;
	margin-left: -15px;
}

.about .directions {
	padding: 21px 0 0;
	margin-bottom: 80px;
}
.about .directions .item {
	position: relative;
	height: 300px;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	cursor: pointer;
}
.about .directions .item .border {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 10px;
    top: 0;
    left: 0;
	background: rgba(75, 90, 95, 0.6);
	@include animation-transition(0.5s);
}
.about .directions .item:hover .border {
	background: transparent;	
}
.about .directions .item .border:before {
	content: '';
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid #d2dce1;
	background: transparent;	
	@include animation-transition(0.5s);
}
.about .directions .item:hover .border:before {
	background: rgba(255, 255, 255, 0.75);
	
}
.about .directions .item .cover {
	display:table;
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;    
	padding: 0 0 9px;
}
.about .directions .item .cover .title {
	position: relative;
    font-size: 22px;
    line-height: 18px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
	margin: 0px 0 20px;
}
.about .directions .item:hover .cover .title {
	color: #4b5a5f;
}
.about .directions .item .cover .title:after {
    content: '';
    display: block;
    background: url(../img/bottom-separator.png) center top no-repeat;
    height: 15px;
    margin-top: 14px;
}
.about .directions .item:hover .cover .title:after {
    background-position: center bottom;
}
.about .directions .item .cover ul {
	display: none;
	list-style: none;
	padding: 0;
	margin: 0;
}
.about .directions .item:hover .cover ul {
	display: block;
}
.about .directions .item .cover ul li {
	display: block;
	margin-bottom: 10px;
}
.about .directions .item .cover ul li a {
	color: #303a45;
	line-height: 20px;
}
.about .advantages {
	position: relative;
	border: 1px solid #64828c;
	padding: 69px 0 46px;
	background: #fff;
	margin: 0 0 64px;
}
.about .advantages .border {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 10px;
    top: 0;
    left: 0;
}
.about .advantages .border:before {
	content: '';
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid #d2dce1;
}
.about .advantages .main-title {
	margin-bottom: 20px;
}
.about .advantages .item {
	text-align: center;
	margin-bottom: 15px;
}
.about .advantages .item .icon {
	display: table;
	height: 84px;
	width: 100%;
	font-size: 44px;
	line-height: 46px;
	color: #c39bd2;
}
.about .slider {
	margin-bottom: 45px;
}
.about .slider .main-title {
	margin-bottom: 11px;
}
.about .slider .wrap-jcarousel {
	position: relative;
}
.about .slider .wrap-jcarousel .jcarousel ul li {
	height: 110px;
	padding: 0 10px;
}


.about .slider .wrap-jcarousel .jcarousel-prev {
	position: absolute;
	top: 0;
    left: -45px;
    width: 45px;
	height: 100%;
	@include cros-opacity (1);
	@include animation-transition(0.5s);
}
.about .slider .wrap-jcarousel .jcarousel-prev.inactive {
	cursor: default;
	@include cros-opacity (0);
}
.about .slider .wrap-jcarousel .jcarousel-prev:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -10px;
	@include left-arrow(1px, 20px, #4b5a5f);
}


.about .slider .wrap-jcarousel .jcarousel-next {
	position: absolute;
	top: 0;
    right: -45px;
    width: 45px;
	height: 100%;
	@include cros-opacity (1);
	@include animation-transition(0.5s);
}
.about .slider .wrap-jcarousel .jcarousel-next.inactive {
	cursor: default;
	@include cros-opacity (0);
}
.about .slider .wrap-jcarousel .jcarousel-next:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -10px;
	@include right-arrow(1px, 20px, #4b5a5f);
}


.about .gallery {
	margin: 0 0 20px;
}
.about .gallery .gallery-collage .jcarousel ul li a {
	display: block;
	position: relative;
}
.about .gallery .gallery-collage .jcarousel ul li a img {
	position: relative;
}
.about .gallery .gallery-collage .jcarousel ul li a:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
    left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/glass-icon.png) center center no-repeat rgba(186, 217, 122, 0.65);
	
	@include cros-opacity (0);
	@include animation-transition(0.5s);
}
.about .gallery .gallery-collage .jcarousel ul li a:hover:after {
	@include cros-opacity (1);
}

.about .form {
    color: #fff;
    position: relative;
    padding: 43px 0 80px;
    background: #c39bd2;
}
.about .form .border {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 10px;
    top: 0;
    left: 0;
}
.about .form .border:before {
    content: '';
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
}
.about .form .main-title {
    text-align: center;
    color: #fff;
}