.mobile-top-part {
	position: fixed;
	width: 100%;
	background: #fff;
	z-index: 200;
}
.mobile-top-part .social {
	background: #64828c;
	font-size: 18px;
    line-height: 40px;
    text-align: center;
}
.mobile-top-part .social a {
	color: #ebf0f5;
	display: inline-block;
	margin: 0 5px;
}
.mobile-top-part .top-panel .item {
	display: table;
	height: 60px;
	width: 100%;	
}

.mobile-top-part .top-panel .item img {
	max-width: 100%;
}
.mobile-top-part .top-panel .item .phone {
	max-width: 100%;
	font-size: 13px;
	text-align: center;
}



.mobile-top-part .top-panel .item .switch-menu {
	display: block;
    position: relative;
    width: 15px;
    height: 11px;
	border: none;
	background: url(../svg/cross.svg) center center no-repeat;
}
.mobile-top-part .top-panel .item .switch-menu.collapsed {
    border-top: 1px solid #64828c;
    border-bottom: 1px solid #64828c;
	background: none;
}
.mobile-top-part .top-panel .item .switch-menu.collapsed:before {
    content: '';
    display: block;
    position: absolute;
    width: 15px;
    left: 0;
    top: 50%;
    background: #64828c;
    height: 1px;
    margin-top: -1px;
}

.mobile-top-part .main-menu {
	display: block;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	background: #e8ebf1;
	text-transform: uppercase;
}
.mobile-top-part .main-menu ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 13px 0;
}

.mobile-top-part .main-menu li {
	display: block;
	margin: 0;
	padding: 0;
}
.mobile-top-part .main-menu li a {
	display: block;
	color: #64828c;
	text-decoration: none;
	padding: 13px 0;
}
.mobile-top-part .main-menu li.current_page_parent a {
	background: rgba(255, 255, 255, 0.35);
}
.mobile-top-part .main-menu li .sub-menu {
	display: none;
}