.services {
	padding: 0 0 20px;
}
.services .header {
	padding: 63px 0 43px;	
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.services .header .content {
	color: #3f4462;
	margin: 0 0 46px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}
.services .header .content p:last-child {
	margin-bottom: 0;
}
.services .header .sub-services .item {
	background: rgba(255, 255, 255, 0.5);
	color: #474b66;
	padding: 32px 0 0;
	height: 180px;
	margin: 0 0 20px;
	cursor: pointer;
}
.services .header .sub-services .item:hover {
	background: rgba(255, 255, 255, 0.75);
}
.services .header .sub-services .item .icon {
	display: table;
	width: 100%;
	height: 66px;	
	font-size: 36px;
	line-height: 38px;
}
.services .header .sub-services .item .title {
	font-size: 20px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
}

.services .staps {
	padding-top: 42px;
}
.services .staps .main-title {
	margin-bottom: 26px;
}
.services .staps .item {
	margin-bottom: 20px;
}
.services .staps .item .left-part {
	position: relative;
	height: 370px;
	border: 1px solid #64828c;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}
.services .staps .item .left-part .border {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 10px;
    top: 0;
    left: 0;
}
.services .staps .item .left-part .border:before {
	content: '';
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid #d2dce1;
}

.services .staps .item .left-part .svg-cover {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
}

.services .staps .item .right-part {
	position: relative;
	height: 370px;
	border: 1px solid #64828c;
	text-align: center;
	color: #4b5a5f;
	padding: 20px;
}
.services .staps .item .right-part .border {
	position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 10px;
    top: 0;
    left: 0;
	background: #fff;
}
.services .staps .item .right-part .border:before {
	content: '';
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid #d2dce1;
}
.services .staps .item .right-part .wrap-vertical-position {
	position: relative;
}
.services .staps .item .right-part .title {
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1p;
	margin: 0 0 21px;
    padding: 7px 0 0;
}

.services .why {
	position: relative;
	padding: 54px 0 39px;
	border: 1px solid #64828c;
	background: #fff;
	margin: 0 0 20px;
}
.services .why .border {
	position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 10px;
    top: 0;
    left: 0;
}
.services .why .border:before {
	content: '';
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid #d2dce1;
}
.services .why .main-title {
	margin-bottom: 15px;
}
.services .why .item {
	padding: 0 30px 0 0;
	margin: 0 0 32px;
}
.services .why .item .inner {
	padding: 21px 0 0;
	background-position: top right;
	background-repeat: no-repeat;
}
.services .why .item.even {
	padding: 0 0 0 30px;
}
.services .why .item .title {
}





.services .gallery {
	margin: 0 0 20px;
}
.gallery-collage .jcarousel ul li .item {
	position: relative;
	color: #fff;
	text-align: center;
}
.gallery-collage .jcarousel ul li .item .img {
	position: relative;
}
.gallery-collage .jcarousel ul li .item .img .cover {
	display: block;
    position: absolute;
	top: 0;
	left: 0;
    height: 100%;
    width: 100%;	
	padding: 0 10%;
	background: rgba(186,217,122, 0.75);
	@include cros-opacity (0);
	@include animation-transition(0.5s);
}

.gallery-collage .jcarousel ul li .item:hover .img .cover {
	@include cros-opacity (1);	
}
.gallery-collage .jcarousel ul li .item .img .cover .title {
	line-height: 25px;
	text-transform: uppercase;
	font-weight: 700;
	border-bottom: 1px solid #fff;
	padding: 0 0 10px;
	margin: 0 0 12px;
}
.gallery-collage .jcarousel ul li .item .img .cover .tag {
	line-height: 25px;
	font-size: 14px;
	text-transform: lowercase;
}


.services .reviews {
	position: relative;
	border: 1px solid #64828c;
	padding: 44px 10px 49px;
	background: #fff;
	margin: 0 0 20px;
}
.services .reviews .border {
	position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 10px;
    top: 0;
    left: 0;
}
.services .reviews .border:before {
	content: '';
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid #d2dce1;
}
.services .reviews .main-title {
    margin-bottom: 24px;
}
.services .reviews .wrap-jcarousel {
	position: relative;
}
.services .reviews .wrap-jcarousel .text {
	position: relative;
	padding: 0 0 24px;
	margin: 0 0 17px;
}
.services .reviews .wrap-jcarousel .text p:last-child {
	margin-bottom: 0;
}
.services .reviews .wrap-jcarousel .text:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 1px;
	border-bottom: 2px solid #c39bd2;
	width: 140px;
	margin: 0 0 0 -70px;
}
.services .reviews .wrap-jcarousel .title {
	text-transform: uppercase;
}
.services .reviews .wrap-jcarousel .subtitle {
	color: #c39bd2;
}
.services .reviews .wrap-jcarousel .jcarousel-prev {
	position: absolute;
	top: 0;
	left: -30px;
    width: 14px;
	height: 100%;
	@include cros-opacity (1);
	@include animation-transition(0.5s);
}

.services .reviews .wrap-jcarousel .jcarousel-prev.inactive {
	cursor: default;
	@include cros-opacity (0);
}
.services .reviews .wrap-jcarousel .jcarousel-prev:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -5px 0 0 -5px;
	@include left-arrow(1px, 10px, #4b5a5f);
}
.services .reviews .wrap-jcarousel .jcarousel-next {
	position: absolute;
	top: 0;
	right: -30px;
    width: 14px;
	height: 100%;
	@include cros-opacity (1);
	@include animation-transition(0.5s);
}

.services .reviews .wrap-jcarousel .jcarousel-next.inactive {
	cursor: default;
	@include cros-opacity (0);
}
.services .reviews .wrap-jcarousel .jcarousel-next:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 50%;
	margin: -5px -5px 0 0;
	@include right-arrow(1px, 10px, #4b5a5f);
}
.services .reviews .wrap-jcarousel .jcarousel-pagination {
	text-align: center;
	padding: 25px 0 0;
}
.services .reviews .wrap-jcarousel .jcarousel-pagination a {
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 1px solid #c39bd2;
	@include border-radius (50%);
	margin: 0 2px;
}
.services .reviews .wrap-jcarousel .jcarousel-pagination a.active {
	background: #c39bd2;
}



.services .form {
	color: #fff;
	position: relative;
	padding: 43px 0 80px;
	background: #c39bd2;
}
.services .form .border {
	position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 10px;
    top: 0;
    left: 0;
}
.services .form .border:before {
	content: '';
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
}
.services .form .main-title {
	text-align: center;
	color: #fff;
}
.services .form .text {
	margin: 0 0 41px;
}
.services .form .text p:last-child {
	margin-bottom: 0;
}