@media (max-width: 837px) {
	.fixed-right-part {
		padding: 101px 0 0;
	}
}
@media (min-width: 838px) and (max-width: 1235px) {
	.fixed-right-part {
		position: absolute;
		padding: 0 0 0 $fixed-left-part-width-responsive;
		height: 100%;
		width: 100%;
		z-index: 100;
	}
}