@media (max-width: 837px) {
	.contacts .right-part {
		position: relative;
		height: 200px;
		padding: 0;
	}
	.contacts .left-part {
		position: relative;
		width: 100%;
		padding: 20px 0;
	}
}