.fixed-left-part-responsive {
	display: none;
}
@media (max-width: 837px) {
	.fixed-left-part-responsive {
		display: none;
	}	
	.fixed-left-part {
		display: none;
	}
}
@media (min-width: 838px) and (max-width: 1235px) {
	.fixed-left-part {
		display: none;
	}
	.fixed-left-part-responsive {
		display: block;
		position: fixed;
		width: $fixed-left-part-width-responsive;
		height: 100%;
		z-index: 200;
		background: rgba(255, 255, 255, 0.85);
	}
	
	.fixed-left-part-responsive.is-showed {
		width: 100%;
		cursor: pointer;
	}
	.fixed-left-part-responsive .inner {
		background: #fff;
		position: relative;
		min-height: 100%;
		height: auto !important;
		height: 100%;
		padding: 41px 0 0;
		width: $fixed-left-part-width-responsive;
	}
	
	.fixed-left-part-responsive .inner .wrap-logo {
		text-align: center;
		margin: 0 0 30px;
	}
	.fixed-left-part-responsive .inner .wrap-menu {
		margin: 0 0 30px;
		text-align: center;
	}
	.fixed-left-part-responsive .inner .wrap-menu .menu {
		color: #65848d;
		font-size: 24px;
		line-height: 24px;
	}
	.fixed-left-part-responsive .inner .btn {
		font-size: 24px;
		line-height: 47px;
	}
}