@media (min-width: 838px) and (max-width: 1235px) {
	.front-page .item .img .cover .inner .main-title {
		font-size: 26px;
	}
	.front-page .item .img .cover .inner .menu ul {
		font-size: 18px;
		line-height: 30px;
	}
}
@media (max-width: 837px) {
	.front-page {
		display: block;
		height: auto;
	}
	.front-page .row {
		display: block;
		height: auto;
	}
	
	.front-page .item {
		display: block;
		float: left;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.front-page .item .img {
		height: auto;
	}
	.front-page .item .img .cover {
		position: relative;
		background: rgba(75, 90, 95, 0);
	}
	.front-page .item .img .cover .inner {
		padding: 10px;
	}
	.front-page .item .img .cover .inner .menu {
		display: block;
	}
	.front-page .item .img .cover .inner .main-title {
		font-size: 24px;
		background: rgba(242, 246, 250, 0.85);
		color: #4b5a5f;
	}
	.front-page .item .img .cover .inner .main-title:after {
		background-position: center bottom;
	}
	.front-page .item .img .cover .inner .menu ul {
		font-size: 14px;
		line-height: 25px;
	}
}