@media (max-width: 837px) {
	.services {
		padding-top: 60px;
	}
	
	.services .header .sub-services .item .title {
		font-size: 14px;
		line-height: 20px;
	}
	.services .staps .item .right-part .border {
		background: rgba(255, 255, 255, 0.8);
	}
	.services .why .item {
		padding: 0;
	}
	.services .why .item.even {
		padding: 0;
	}
}