@media (max-width: $media-md-max-width) {
	body {
		font-size: 15px;
		line-height: 30px;
	}
}
@media (max-width: $media-xs-max-width) {	
	html {
		padding-bottom: 230px;
	}
	footer {
		height: auto;
		padding-bottom: 50px;
	}
	.wp-caption {
		margin-bottom: 0;
	}
	.wp-caption .wp-caption-text {
		text-align: left;
	}
}