@media (max-width: $media-md-max-width) {	
	.services .top-panel .wrap-jcarousel .item {
		padding: 0 20px;
	}
	.services .hot-hours .title {
		font-size: 17px;
	}
	.services .hot-hours .list-hours a {
		line-height: 60px;
		height: 60px;
	}
	.services .price-list .item .title {
		font-size: 17px;
		line-height: 30px;
	}
	.services .price-list .item .price {
		font-size: 21px;
	}
	.services .price-list .item .wrap-btn .btn {
		padding: 14px 0;
		font-size: 14px;
	}
	
	.services .service-description .img-part {
		margin-bottom: 36px;
	}
	
	.services .service-description .right-part .main-title {
		margin-bottom: 23px;
	}
	
	.services .top-panel .type-sort .title {
		padding: 0 20px 0 100px;
	}
	.services .top-panel .type-sort .dropdown-open:before {
		right: 20px;
	}
	.services .top-panel .type-sort .title img {
		left: 25px;
	}
}