@media (max-width: $media-md-max-width) {
	.wrap-input-file {
		height: 62px;
		line-height: 21px;
	}
	.menu-categories {
		top: 192px;
	}
	.header .menu ul {
		font-size: 14px;
	}
	.form-control {
		font-size: 14px;
	}
	.wrap-form-control .additional-placeholder {
		font-size: 10px;
	}
}
@media (max-width: $media-xs-max-width) {
	.header {
		height: 40px;
	}
	.header .fixed-part {
		padding: 7px 0 0;
		height: 40px;
	}
	.header .logo {
		width: 82px;
		height: 22px;
	}
	.wrap-input-file {
		font-size: 12px;
		line-height: 18px;
		height: 55px;
	}
	.menu-categories {
		top: 132px;
	}
	
	.fancybox-registration .wrap-form .btn-submit {
		font-size: 18px;
		height: 56px;
	}
	.fancybox-registration .main-title {
		font-size: 38px;
		line-height: 42px;
	}
}