.visible-mobile-header {
	display: none !important;
}
@media (max-width: 1272px) {
	.main-content {
		padding-left: 70px;
	}
	header {
		width: 70px;
	}
	header .social a {
		display: block;
		border-top: 1px solid #2C2929;
		margin: 0;
		line-height: 68px;
	}
	header .social {
		margin-bottom: 0;
		padding: 0;
	}
	header .social:before {
		display: none;
	}
	
	.hidden-mobile-header {
		display: none !important;
	}
	.visible-mobile-header {
		display: block !important;
	}
}